{% extends "base.html" %}

{% block title %}Food Noms - {{ nom.name }}{% endblock %}

{% block content %}
<h1>{{ nom.name }} at {{ nom.restaurant.name }}</h1>

<h2>Ratings</h2>
{% if ratings %}
     <ul>
          {% for rating in ratings %}
               <li><a href="{{ rating.get_absolute_url }}">Rating {{ rating.id }}</a></li>
          {% endfor %}
     </ul>
{% else %}
     <p>No ratings.</p>
{% endif %}

<p><a href="{{ nom.restaurant.get_absolute_url }}">Back to {{ nom.restaurant.name }}</a></p>
{% endblock %}
