{% extends "base.html" %}

{% block title %}Food Noms - {{ nom.name }}{% endblock %}

{% block content %}
<h1>{{ nom.name }} at {{ nom.restaurant.name }}</h1>

<h2>Reviews</h2>
{% if reviews %}
     <ul>
          {% for review in reviews %}
          <li><a href="{{ review.get_absolute_url }}">Review {{ review.id }}</a></li>
          {% endfor %}
     </ul>
{% else %}
     <p>No reviews.</p>
{% endif %}

<p><a href="{% url reviews.views.add nom.id %}">Add a Review</a></p>

<p><a href="{{ nom.restaurant.get_absolute_url }}">Back to {{ nom.restaurant.name }}</a></p>
{% endblock %}
