{% extends "base.html" %}
{% block title %}Food Noms - Review Detail{% endblock %}

{% block content %}
<h1>Review for {{ review.nom }}</h1>

{% for response in rate_responses %}
     <p>{{ response.question }} - {{ response.rate }}</p>
{% endfor %}
{% for response in free_responses %}
     <p>{{ response.question }} - {{ response.freeResponse }}</p>
{% endfor %}

{% if user.is_authenticated and user == review.user %}
     <p><a href="{% url reviews.views.delete review.id %}">Delete</a></p>
{% endif %}
<p>Back to <a href="{{ review.nom.get_absolute_url }}">{{ review.nom.name }}</a> at <a href="{{ review.nom.restaurant.get_absolute_url }}">{{ review.nom.restaurant.name }}</a></p>
{% endblock %}
