<!DOCTYPE html>
<html>
<head>
     <title>{% block title %}Food Noms{% endblock %}</title>
     <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css">
</head>
<body>

<div id="wrapper">
     <div id="header">
          <div id="header-img">
               Food Noms
          </div>
     </div>
     <div id="navbar">
          <ul>
               <li class="active"><a href="#">Home</a></li>
               <li><a href="#">Search</a></li>
               <li><a href="#">About Us</a></li>
               <li class="user"><a href="#">Log-In</a></li>
               <li class="user"><a href="#">Register</a></li>
          </ul>
     </div>

     <div id="bottom">
          <div id="content">
               {% block content %}{% endblock %}
          </div>
          <div id="footer">
               <p>Food Noms &copy; 2010&ndash;2011</p>
          </div>
     </div>

</div>

</body>
</html>
