{% load tags %}

{% url home as home %}
{% url search as search %}
{% url auth_login as login %}
{% url auth_logout as logout %}
{% url profiles_edit_profile as profile %}
{% url registration_register as register %}

<!DOCTYPE html>
<html>
<head>
     <title>{% block title %}Food Noms{% endblock %}</title>
     <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/style.css">
</head>
<body>

<div id="wrapper">
     <div id="header">
          <div id="header-img">
               Food Noms
          </div>
     </div>
     <div id="navbar">
          <ul>
               <li class="{% active request home %}"><a href="{{home}}">Home</a></li>
               <li class="{% active request search %}"><a href="{{search}}">Search</a></li>
               {% if user.is_authenticated %}
                    <li class="user {% active request logout %}"><a href="{{logout}}">Log-Out</a></li>
                    <li class="user {% active request profile %}"><a href="{{profile}}">Profile</a></li>
               {% else %}
                    <li class="user {% active request login %}"><a href="{{login}}">Log-In</a></li>
                    <li class="user {% active request register %}"><a href="{{register}}">Register</a></li>
               {% endif %}
          </ul>
     </div>

     <div id="bottom">
          <div id="content">
               {% block content %}{% endblock %}
          </div>
          <div id="footer">
               <p>Food Noms &copy; 2010&ndash;2011</p>
          </div>
     </div>

</div>

</body>
</html>
